body{
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
th{
    background-color: darkgoldenrod;
}
table{
    margin-left: 200px;
}
img{
    margin: 5px 5px 5px 5px;
}
title1{
    font-family: 'Lighthaus', sans-serif;
     font-size: 50px;  
     color: black;    
     text-align: center; 
     margin-left: 200px;                                    
}
